pendulum
pint
attrs
pygeodesy
sqlalchemy
pika
appdirs
accessible_output2
https://github.com/tyrylu/uimanager/archive/master.zip
blinker
PySide2
anglr
pyopenal
pyogg
shapely
jinja2
requests
atomicwrites