pendulum
pint
attrs
pygeodesy
pydantic
sqlalchemy
pika
appdirs
accessible_output2
https://github.com/tyrylu/uimanager/archive/master.zip
blinker
wxpython
anglr
bitmath
pyopenal
pyogg
# And not including those, it requires shapely