[Unit]
Description=Huey consumer of the fts application
Requires=rabbitmq.service
After=rabbitmq.service
[Service]
ExecStart=/usr/bin/huey_consumer  server.huey
WorkingDirectory=/srv/feel-the-streets
User=http
Group=http
Environment="CONSUME=True"
[Install]
WantedBy=multi-user.target