[Unit]
Description=Huey consumer of the fts application
Requires=rabbitmq-server.service
After=rabbitmq-server.service
[Service]
ExecStart=/usr/local/bin/huey_consumer  server.huey
WorkingDirectory=/srv/feel-the-streets
User=www-data
Group=www-data
Environment="CONSUME=True"
[Install]
WantedBy=multi-user.target